{% extends 'base.html.twig' %}

{% block title %}Edition de compte
{% endblock %}

{% block body %}
	{% include "_flash.html.twig" %}

	<div class="form_section">
		<h1>Modifier mon profil</h1>
		{{ form_start(form) }}
		    {{form_row(form.email)}}
		    {{form_row(form.username)}}
		    {{form_row(form.photoFile)}}
		    <button type="submit" class="btn">Valider</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
